body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('./assets/donate.png');
    background-repeat: no-repeat;
    background-size: 1370px 660px;
}

.navbar {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 30px;
    color: white;
    width: 100%;
    overflow: auto;
}

img {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 400px;
    height: 200px;
}

.navbar a:hover {
    background-color: #04AA6D;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}